@font-face {
  font-family: S1;
  src: url("font/Kh\ Baphnom\ Limon\ S1.ttf") format("truetype");
  /* Replace "KhmerFont.ttf" with the actual font file name and path */
}
@font-face {
  font-family: Koulen;
  src: url("font/Koulen.ttf") format("truetype");
  /* Replace "KhmerFont.ttf" with the actual font file name and path */
}

body {
  font-family: 'CustomFont', Arial, sans-serif;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #FFD662;
  font-family: S1;
  
}
/* Logo */
div.logo{
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo img{
  margin: auto;
  height: 120px;
}
h1 {
  text-align: center;
}

a{
  text-decoration: none;
}
#quiz-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
  font-size: 20px;
  margin-bottom: 10px;
}

.options {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.options li {
  margin-bottom: 5px;
  cursor: pointer;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.additional-info {
  display: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}
.detail{
  font-family: S1;
}

.moredetail{
  font-family: Koulen;
}
p{
  max-height: 180px;
  overflow: auto;
}

#close-btn {
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }
  
  #quiz-container {
    padding: 10px;
  }
  h1{
    font-size: 45px;
  }
}

/* Styles for desktop */
.question-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.question {
  text-align: center;
}

.options {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.options li {
  margin: 0 1rem;
  cursor: pointer;
}

.result {
  text-align: center;
  margin-bottom: 2rem;
}

.additional-info {
  display: none;
  background-color: #f5f5f5;
  padding: 1rem;
  margin-bottom: 2rem;
}

/* Styles for mobile */
@media (max-width: 600px) {
  .question-container {
    flex-direction: column;
  }

  .options {
    flex-direction: column;
    align-items: center;
  }

  .options li {
    margin: 0.5rem 0;
  }
  h1{
    font-size: 25px;
  }
  .logo img{
    width: 80%;
  }
}

.line{
  text-align: center;
}
h2{
  font-size: 20px;
  color: #4caf50;
}
/* Progress bar */
.progress-bar {
  background-color: #4caf50;
  height: 10px;
  width: 100%;
  transition: width 1s linear;
}
/* Question image */
img{
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  img {
    max-width: 90%;
  }
  
}
/* Choosing fill  */
.options.disabled li {
  pointer-events: none;
  opacity: 0.6;
}

.options li.correct {
  background-color: #4CAF50;
  color: #fff;
}

.options li.incorrect {
  background-color: #FF0000;
  color: #fff;
}
/* Button Style */
/* Default button styles */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Button styles for mobile phones */
@media (max-width: 767px) {
  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* Khmer color styles */
.divOfbutton{
  display: flex;
}
button {
  background-color: #4CAF50; /* Yellow */
  color: #fff; /* Black */
  margin: 0px 5px;
}
button:hover{
  background-color: #43a146;
}
#exitButton{
  background-color: red;
}
#exitButton:hover{
  background-color: #ce0f0f;
}
/* Khmer color styles for mobile phones */
@media (max-width: 767px) {
  button {
    background-color: #4CAF50; /* Green */
    color: #fff; /* White */
  }
  button:hover{
    background-color: #43a146;
  }
}
/* Game history */
.game-history{
  display: none;
  background-color: #fff;
  max-width: 500px;
  margin: auto;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}
.progress-bar{
  margin-bottom: 5px;
}
.timer{
  background-color: #fff;
  max-width: fit-content;
  padding: 5px 20px;
  border-radius: 10px;
}